$breakpoint-xs: 280px;
$breakpoint-s: 599px;
$breakpoint-splus: 600px;
$breakpoint-lplus: 800px;

@mixin max-media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin min-media($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

.intro__cloud {
  position: absolute;
  z-index: 3;
}

@include max-media($breakpoint-s) {
  .intro__cloud--m {
    height: 6%;
    width: 6%;
    min-width: 23px;
    min-height: 23px;
  }

  .intro__cloud--s {
    height: 5%;
    width: 5%;
    min-width: 20px;
    min-height: 20px;
  }

  .intro__cloud--xs {
    height: 4%;
    width: 4%;
    min-width: 18px;
    min-height: 18px;
  }

  .cloud1 {
    top: 45%;
    left: 5%;
  }

  .cloud2,
  .cloud3 {
    transform: scaleX(0);
  }

  .cloud4 {
    top: 55%;
    right: 45%;
  }

  .cloud5 {
    top: 51%;
    right: 15%;
  }

  .cloud9 {
    top: 30%;
    right: 18%;
  }

  .cloud10 {
    top: 50%;
    left: 26%;
  }

  .cloud6 {
    top: 40%;
    right: 2%;
    transform: scaleX(0);
  }
}

@include min-media($breakpoint-splus) {
  .intro__cloud--m {
    height: 5vw;
    width: 5vw;
  }
  .intro__cloud--s {
    height: 4%;
    width: 4%;
  }

  .intro__cloud--xs {
    height: 3%;
    width: 3%;
  }

  .cloud1 {
    top: 40%;
    left: 5%;
  }

  .cloud2 {
    top: 30%;
    left: 70%;
  }

  .cloud3 {
    top: 23%;
    left: 22%;
  }

  .cloud4 {
    top: 55%;
    right: 45%;
  }

  .cloud5 {
    top: 51%;
    right: 22%;
  }

  .cloud10 {
    transform: scaleX(0);
  }

  .cloud6 {
    top: 40%;
    right: 2%;
  }
}

@include min-media($breakpoint-lplus) {
  .intro__cloud--m {
    height: 3%;
    width: 3%;
  }

  .intro__cloud--s {
    height: 3%;
    width: 3%;
  }

  .intro__cloud--xs {
    height: 2%;
    width: 2%;
  }

  .cloud10 {
    top: 26%;
    left: 48%;
    transform: scaleX(1);
  }
}
