$breakpoint-xs: 28em;

@mixin media($width) {
    @media only screen and (max-width: $width) {
      @content;
    }
}

.intro__bridge{
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
}

@include media($breakpoint-xs) {
    .intro__bridge{
        width: 180%;
    }
}

