.intro__triple-cloud{
    position: absolute;
    z-index: 3;
}

.intro__triple-cloud--m{
    height: clamp(4vw, 6rem, 14vw);
    width: clamp(4vw, 6rem, 14vw);
}

.intro__triple-cloud--t28-r18{
    top: 28%;
    right: 20%;
}


