$breakpoint-lplus: 868px;
$color-dark-bg: rgba(31, 31, 61, 0.8);

@mixin min-media($width) {
    @media only screen and (min-width: $width) {
      @content;
    }
}

@mixin max-media($width) {
    @media only screen and (max-width: $width) {
      @content;
    }
}

.location {
    overflow: hidden;
    padding: 22rem 3rem;
    
    @include min-media(800px){
        width: 65%;
        margin: 0 auto;
        padding-left: 3rem;
        padding-right: 1rem;
    }

    @include min-media(868px){
        width: 100%;
    }

    .location__content {
        margin: 0 auto;
        height: 100%;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;

        @include min-media($breakpoint-lplus){
            flex-direction: row;
            max-width: none;   
            font-size: 1.8rem;
        }

        .location__text {  
            @include  min-media(868px) {
                text-align: center;
            }

            @include min-media($breakpoint-lplus){  
                flex-basis: 40%;
                margin-top: 10.5rem;
                padding: 8rem 1.5rem 10rem; 
                height: 50%;
                background-color: #1F1F3D;
            }
        }

        .location__text-title {
            font-size: 6.5rem;
            line-height: 1.1;
            font-weight: 500;
            margin-bottom: 6rem;

            @include max-media(600px) {
                font-size: 4rem;
            }
        }

        .email-link {
            text-decoration: none;
            color: inherit;
            display: block;
        }

        .location__text-paragraph {   
            position: relative;
            margin-bottom: 1.8rem;
            display: flex; 
            align-items: center;

            @include min-media($breakpoint-lplus) {
                justify-content: center;
                flex-direction: row;
                max-width: none; 
            }
        }

        span {
            display: flex;
            margin-right: 1rem;
        }

        .location__map-container{
            @include min-media($breakpoint-lplus){
                padding: 0 2.5rem;
                flex: 1;   
            }
        }

        .location__map {
            position: relative;
            z-index: 3;
            height: 70vh;
            width: 100%;
            margin: 4.5vh auto;
            overflow: hidden;
            display: block;
            border: none;
            @include min-media($breakpoint-lplus){
                height: 80vh;
                max-width: none;
            }
    
        }
    }
}