$breakpoint-xs: 280px;
$breakpoint-s: 400px;
$breakpoint-splus: 401px;
$breakpoint-m: 800px;
$breakpoint-l: 999px;
$breakpoint-lplus: 1000px;
$breakpoint-mplus: 600px;
$color-primary-dark: #1f1f3d;
$color-secondary-dark: #1b1b2d;
$color-highlight-purple: #a259ff;
$color-secondary-purple: #6b6bde;
$color-tertiary-purple: #45419d;
$color-primary-lightblue: #83d4ed;
$color-text-light: #dedeeb;

@mixin max-media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin min-media($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

.side-drawer {
  height: 100%;
  background-color: $color-secondary-purple;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 280px;
  padding: 0 5vw;
  transform: translateY(-100%);
  transition: transform 0.6s cubic-bezier(0.64, 0, 0.78, 0);
  overflow: hidden;

  .nav-line {
    background-color: $color-text-light;
    height: 3px;
    width: 60%;
    margin-left: auto;
    position: relative;
    top: 1%;
    // margin-top: 3.5vh;

    @include min-media($breakpoint-lplus) {
      width: 50%;
      margin-bottom: 0.5rem;
    }
  }

  ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 8rem;

    li {
      margin: 1rem;
      flex: 0 0 10%;

      @include min-media($breakpoint-lplus) {
        line-height: 1.4;
      }
    }

    .nav__element,
    .social__links {
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: $color-text-light;
      font-weight: 500;

      &::after {
        position: absolute;
        display: block;
        content: "";
        bottom: 0;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        transition: transform 0.3s ease-out;
        transform-origin: right;
        background-color: #dedeeb;
      }

      &:hover::after {
        transform: scaleX(1);
      }

      @include max-media($breakpoint-l) {
        font-size: 7vw;
      }

      @include min-media($breakpoint-lplus) {
        font-size: 4vw;
      }
    }

    .social__links {
      margin-top: -2rem;
      font-size: 2rem;
      margin-top: 0.5rem;

      &::after {
        bottom: 0;
      }
    }
  }
}

.socials ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 30%;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.side-drawer.side-drawer--open {
  transform: translateY(0%);
}

.no-scroll {
  overflow: hidden;
}
