$breakpoint-xs: 28em;
$breakpoint-s: 60em;
$breakpoint-m: 80em;
$breakpoint-l: 100em;

@mixin opacity($n) {
    opacity: $n;
}

@mixin rotate($n) {
    transform: rotate($n);
}

@mixin media($width) {
    @media only screen and (max-width: $width) {
      @content;
    }
}

.intro__single-cloud{
    position: absolute;
    z-index: 3;
}

.intro__single-cloud--s{
    height: clamp(8px, 10px, 8px);
    width: clamp(8px, 10px, 8px);
}

.intro__single-cloud--xs{
    height: clamp(10px, 12px, 13px);
    width: clamp(10px, 12px, 13px);
}

.intro__single-cloud--xxs{
    height: clamp(1vw, 1rem, 6vw);
    width: clamp(1vw, 1rem, 6vw);
    @include opacity(0.7);
}

.intro__single-cloud--flip{
    transform: scaleX(-1);
}

.intro__single-cloud--t18-l60{
    top: 38%;
    left: 50%;
}

.intro__single-cloud--t16-l15{
    top: 36%;
    left: 25%;
}

.intro__single-cloud--t22-l28{
    top: 32%;
    left: 28%;
}

.intro__single-cloud--t5-r30{
    top: 35%;
    right: 30%;
    @include opacity(0.7);
}

.intro__single-cloud--t20-r2{
    top: 40%;
    right: 2%;
    @include opacity(0.7);
}

.intro__single-cloud--t10-r50{
    top: 30%;
    left: 40%;
    @include opacity(0.7);
}

.intro__single-cloud--t20-r30{
    top: 20%;
    left: 30%;
    @include opacity(0.8);
}

.intro__single-cloud--t18-l55{
    top: 48%;
    left: 55%;
    @include opacity(0.7);
}


// @include media($breakpoint-xs) {
//     .intro__single-cloud--s{
//        height: 2rem;
//        width: 2rem;
//     }
// }

// @include media($breakpoint-s) {
//     .intro___single-cloud--s{
//        height: 4rem;
//        width: 4rem;
//     }
// }

// @include media($breakpoint-m) {
//     .intro___single-cloud--s{
//        height: 5rem;
//        width: 5rem;
//     }
// }

// @include media($breakpoint-l) {
//     .intro___single-cloud--s{
//        height: 6rem;
//        width: 6rem;
//     }
// }