$breakpoint-xxs: 183px;
$breakpoint-xs: 280px;
$breakpoint-xbetweens: 375px;
$breakpoint-s: 419px;
$breakpoint-splus: 420px;
$breakpoint-l: 800px;

@mixin min-media($width) {
    @media only screen and (min-width: $width) {
      @content;
    }
}

@mixin max-media($width) {
    @media only screen and (max-width: $width) {
      @content;
    }
}

.intro__train{
    position: absolute;
    z-index: 6;
    top: -20.8%;
    left: -30%;
    height: 4.5vh;
    width: 100vw;

    @include min-media($breakpoint-splus) {
        @media (orientation: landscape) {
            top: -21%;
        }

        @media (orientation: portrait) {
            top: -19%;
        }
        
    }

    @include max-media($breakpoint-s) {
        top: -16%;
    }

    @include max-media($breakpoint-xbetweens) {
        top: -16%;
    }

    @include max-media($breakpoint-xs) {
        top: -15.5%;
    }

    @include max-media($breakpoint-xxs) {
        top: -14%;
    }
}