$breakpoint-s: 600px;

@mixin media($width) {
    @media only screen and (max-width: $width) {
      @content;
    }
}

.intro__bridge-container{
    position: relative;
    z-index: 5;
    top: 80%;
    height: 20vh;

    .intro__bridge{
        position: absolute;
        z-index: 6;
        top: 0;
        left: 0;
        height: inherit;
        width: 100%;
    
        @include media($breakpoint-s) {
            .intro__bridge__bottom{
                transform: translateY(-2rem);
                width: 300%;
            }
        }
    }
}



