$breakpoint-splus: 600px;
$breakpoint-mplus: 650px;
$breakpoint-lplus: 800px;
$breakpoint-xlplus: 1000px;
$color-highlight-purple: #A259FF;
$color-primary-purple: #6C63FF;
$color-quaternary-purple: #6661c1;
$color-primary-lightblue: #83D4ED;
$color-dark-bg: #1B1B2D;

@mixin min-media($width) {
    @media only screen and (min-width: $width) {
      @content;
    }
}

@mixin max-media($width) {
    @media only screen and (max-width: $width) {
      @content;
    }
}

.section__about {
    padding: 15rem 2rem 20rem;
    background-color: $color-dark-bg;
    margin: 0 auto;
    color: inherit;
    position: relative;
   
    .about__header {
        display: grid;
        grid-template-rows: 0.1fr repeat(2, 0.4fr);
        grid-template-columns: 0.2fr 1fr;
        gap: 1.5rem; // remove this on desktop
        font-size: 1.6rem;
        padding: 3rem 0;

        @include min-media($breakpoint-lplus) {
            max-height: 960px;
            // max-width: 1350px;
        }

        @include min-media($breakpoint-splus) {
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
            margin: 0 auto;
            padding: 3rem 0.5rem;
            font-size: 1.5rem;
        }


        // @include min-media(417px) {
        //     grid-template-rows: 0.1fr repeat(2, 0.4fr) 1fr repeat(3, 0.6fr);
        // }
       
    }

    .about__heading {
        z-index: 2;
        font-size: 4rem;
        font-weight: 400;
        align-self: center;
        justify-content: center;
        text-align: center;
        grid-column: 1 / span 2;
        margin: auto;
    
        @include min-media($breakpoint-splus){
            // font-size: clamp( 4.5rem, 10vw, 150px);
            font-size: 8vw;
            text-align: left;
            margin: 0;
        }
    
        // @include min-media($breakpoint-lplus) { 
        //     font-size: 6rem;
        // }

        // @include min-media($breakpoint-xlplus) { 
        //     font-size: 13rem;
        // }

        &:nth-of-type(1) {
            grid-row: 1 / span 1; 

            @include min-media($breakpoint-splus) {
                grid-row: 1 / span 1; 
                grid-column: 1 / span 1;
            }
        }

        &:nth-of-type(2) {  
            grid-row: 2 / span 1; 
            color: $color-primary-lightblue;

            @include min-media($breakpoint-splus) {
                grid-column: 1 / span 2; 
            }
        }

        &:nth-of-type(3) {
            grid-row: 3 / span 1;
            color: $color-highlight-purple;
            margin-bottom: 3rem;

            @include min-media($breakpoint-splus) {
                grid-row: 3 / span 1;
                grid-column: 2 / span 1;
                margin-bottom: 0;
                transform: translateX(-10%);  
            }
        }
    }

    p { 
        position: relative;
        overflow: hidden;
        z-index: 2;
        // right: -10.5%;
        line-height: 3rem;
        color: #dedeeb;
        // margin-left: 10%;
        justify-self: flex-end;
        // width: 85%;
        

        @include min-media($breakpoint-lplus) {
            font-size: 1.9rem; 
        }

        @include min-media($breakpoint-splus) {
            line-height: 2.6rem;
        }

        @include min-media(540px) {
            justify-self: center;
        }

        
        &:nth-of-type(1) {
            grid-row: 4 / span 1; 
            grid-column: 2 / span 1;

            @include min-media($breakpoint-splus) {
                grid-row: 1 / span 1; 
                color: $color-quaternary-purple;
            }

            @include min-media($breakpoint-lplus) {
                width: 70%;
            }
        }

        &:nth-of-type(2) {
            grid-row: 5 / span 1; 
            grid-column: 2 / span 1;

            @include min-media($breakpoint-splus) {
                grid-column: 1 / span 1;
                grid-row: 3 / span 1;
            }

            @include min-media($breakpoint-lplus) {
                width: 70%;
            }
        }
            
        &:nth-of-type(3) {
            grid-row: 6 / span 1; 
            grid-column: 2 / span 1;
            

            @include min-media($breakpoint-splus) {
                grid-column: 1 / span 1;
                grid-row: 4 / span 1;
                color: $color-primary-purple;
                transform: translate(70%, 30%);
                width: 70%;
            }

            @include min-media($breakpoint-lplus) {
                width: 70%;
            }

        }
    }
    
    .img1 {
        position: absolute;
        // background-color: orange;
        height: 260px;
        width: 200px;
        z-index: 1;
        bottom: -30%;
        left: 2.5rem;

        @include min-media($breakpoint-splus) {
            height: 320px;
            width: 250px;
            left: 30%;
            top: 80%;
        }
    }
}

.split-parent {
  overflow: hidden;
}

.split-child {
  display: inline-block;
}

// .text-heading {
//     height: 800px;
//     padding: 45px 45px;
// }
