$breakpoint-xxs: 28em;
$breakpoint-xs: 28em;
$breakpoint-s: 60em;
$breakpoint-m: 80em;
$breakpoint-l: 120em;
$breakpoint-xl: 200em;

.intro__star-container {
    border-radius: 80% 30% 30% 10% / 74% 0;
    position: relative;
    z-index: 2;
    top: 8%;
    left: -10%;
    height: 64vh;
    width: 120%;
    overflow-y: auto;

    .intro__star{
        position: absolute;
        z-index: 2;
        animation: twinkle 100 alternate;
        animation-duration: var(--star-duration);
        animation-delay:var(--star-delay);

        @keyframes twinkle {
            from {
                opacity: 0;
                transform: scale(0.8);
            }
        
            to {
                opacity: 1;
                transform: scale(1.5);
            }
        }
    }
}