.intro__star-container {
  border-radius: 80% 30% 30% 10% / 74% 0;
  position: relative;
  z-index: 2;
  top: 8%;
  left: -10%;
  height: 64vh;
  width: 120%;
  overflow-y: auto;

  .intro__star {
    position: absolute;
    z-index: 2;
  }
}
