$color-primary-dark: #1F1F3D;
$color-highlight-purple: #A259FF;
$color-primary-purple: #6C63FF;
$color-secondary-purple: #6B6BDE;
$color-tertiary-purple: #45419D;
$color-primary-lightblue: #83D4ED;

.intro{
    background: radial-gradient(120% 79% at 80% 80%, $color-highlight-purple 20%, $color-secondary-purple 50.19%, $color-primary-purple 68.9%, $color-tertiary-purple 80.21%, $color-primary-dark 96%);
    background-size: 138%;
    position: relative;
    z-index: 2;
    top: 0%;
    left: 0;
    // height: calc(100vh - 60px + 1%);
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}