.toggle-button{
    height: 2.2rem;
    width: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: none;
    border: none;

    &:focus{
        outline: none;
    }

    .toggle-button__line {
        width: 100%;
        position: absolute;
        background: #ffffff;
        height: 2px;
    }

    &::before, &::after {
        position: absolute;
        content: '';
        width: 50%;
        height: 2px;
        background: #ffffff;
    }

    &::before {
        top: 10%;
        left: 0;
    }

    &::after {
        bottom: 10%;
        left: 50%;
    }
}