$width: 50%;

.toggle-button {
    height: 2rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    outline: none;
    border: transparent;
    background: transparent;
    cursor: pointer;

    .toggle-button__line {
        position: absolute;
        background: #ffffff;
        height: 2px;
        border-radius: 60px;
    }

    .line-1 {
        top: 0%;
        left: 0%;
        transform-origin: top left;
    }

    .line-2 {
        width: 100%;
    }

    .line-3 {
        bottom: 0;
        right: 0;
        transform-origin: bottom right;
    }

    .line-1, .line-3 {
        width: 50%;
    }
}